# Dépendances
node_modules
npm-debug.log
yarn-error.log

# Build
dist

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Tests
coverage
.nyc_output

# Environnement (on utilisera les variables d'environnement Docker)
.env
.env.local
.env.*.local

# Fichiers de développement
*.md
.prettierrc
.eslintrc.js

# Uploads (fichiers locaux de développement)
uploads/*

# OS
.DS_Store
Thumbs.db
